/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*General Styles*/

h1, h2, h3, h4, h5, h6{
    font-family: "Poppins", sans-serif;
    color: #1b75bc;
    line-height: 1.2em !important;
    font-weight: bold;
}

h4 {
    font-size: 18px;
}
.usr-wlcm {
    color: #1b75bc;
}
    .usr-wlcm:hover {
        color: #342ead;
    }
p {
    color: #8c8d9e;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8em;
}

a, a:hover {
    text-decoration: none;
}

.h2 {
    color: #333;
    font-weight: bold !important;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
}

.margin-sec {
    margin-top: 8rem;
}

body{
    padding-top:90px;
}

/*navbar*/

.nav-x {
    background-color: #ffffff !important;
    font-weight: bold;
}

.nav-x a{
    color: black !important;
}
.nav-btn {
    font-weight: bold;
    color: black !important;
}
.nav-x a:hover {
    color: grey !important;
}

.nav-btn:hover {
    color: grey !important;
}
/* footer*/
.footer-section {
    background-color: #222;
}

.copyright-text {
    text-align: left;
    margin-top: 20px;
    color: #fff;
}

.copyright-text a {
    color: #fff;
}

.copyright-text a:hover {
    color: #1b75bc;
}

.hrt:hover{
    color: red;
}

/* up button*/
.scroll-up {
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background: #691cff;
    border-radius: 10px;
    display: none;
}

.scroll-up a {
    color: #fff;
}

.scroll-up a:hover {
    color: black;
}