@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link href="~/css/style.css" rel="stylesheet" />


<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="well well-sm well-social-post">
                <ul class="list-inline" id='list_PostActions'>
                    <li class='active' >Create Post</li>
                </ul>
                <textarea class="form-control no-resize" placeholder="What's in your mind?" id="content"></textarea>
                <ul class='list-inline post-actions'>
                    <li>
                        <div class="image-upload">
                            <label for="file-input">
                                <span class='fa fa-camera camera-icon'></span>
                            </label>
                            <input id="file-input" type="file" />
                        </div>
                    </li>
                    <li style="margin-top:-5%"><button class='btn post-button'  id="post">Post</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>

