@model User


@{
    ViewData["Title"] = "Admin Page";
}


<html>
<head>
</head>
<body>
    <table class="table bg-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Block State</th>
                <th scope="col">Authority</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>test</td>
            </tr>
            @{
                foreach (var item in Model.UserName)
                {
                    <tr>
                        <th scope="row">@item</th>

                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</body>
</html>

