@model IQueryable<User>;


@{
    ViewData["Title"] = "Admin Page";
}

<input type="button" value="Add New User" class="btn btn-primary">

@using (Html.BeginForm("Users", "Admin", FormMethod.Post, htmlAttributes: new { data_ajax = "true", data_ajax_method = "Post", data_ajax_mode = "replace", data_ajax_update = "#MYData" }))
{
    <body>
        <input type="text" id="1000" name="Usrname">
        @*@Html.TextBox("Users");*@

        @*<a asp-action="Users" asp-route-id="$(" #1000").val()">Search</a>*@
        <input type="submit" value="Search" class="btn btn-default" />

        <table class="table bg-dark">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Block State</th>
                    <th scope="col">Authority</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test</td>
                </tr>
                @{
                    foreach (var item in Model)
                    {


                        <tr>
                            <form asp-action="Users" method="post">

                                <th scope="row">@item.UserName</th>
                                <td>  <input type="hidden" asp-for="@item.Id" name="Id" /></td>
                                <td><input type="checkbox" name="UserState" asp-for="@item.UserState" onclick="this.form.submit();" /></td>
                                <td><input type="checkbox" name="UserRole" asp-for="@item.UserRole" onclick="this.form.submit();" /></td>
                            </form>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </body>

}