@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center container">
        <h1 class="display-4 my-5">Welcome To FaceBoom</h1>
        <div class="row text-center my-4">
            <div class="col-12 col-md-5 offset-md-1 my-2">
                <a class="btn animated-button" asp-controller="account" asp-action="register">Register</a>
            </div>
            <div class="col-12 col-md-5 my-2">
                <a class="btn animated-button" asp-controller="account" asp-action="login">Login</a>
            </div>
        </div>
    </div>
