@model RegisterViewModel

@{
    ViewBag.Title = "User Registration";
}
<h1>User Registration</h1>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" placeholder="Full Name"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Email Address"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" placeholder="New Password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Day"></label>
                @Html.DropDownListFor(model => model.Day, Enumerable.Range(1, 31).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "Day")
                @Html.DropDownListFor(model => model.Month, Enumerable.Range(1, 12).Select(i => new SelectListItem { Value = i.ToString(), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i) }), "Month")
                @Html.DropDownListFor(model => model.Year, Enumerable.Range(1980, 121).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "Year")
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-control">
                @foreach (Gender gender in Enum.GetValues(typeof(Gender)))
                {
                    <label>
                        <input asp-for="Gender" type="radio" value="@gender" />
                        @gender
                    </label>
                }
                <span asp-validation-for="Gender" class="text-danger"></span>

            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
